{% extends 'base.html.twig' %}

{% block title %}Log index{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-dark" href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Logs</li>
      </ol>
    </nav>
    
    <div class="row">
      <div class="col-sm-8">
        <h1>Operation logs</h1>
      </div>
      <div class="col-sm-4">
        <div class="app-inline-buttons">
        <a class="btn btn-dark" href="{{ path('log_new') }}">Create new</a>
        </div>
      </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Operation</th>
                <th>Value</th>
                <th>Description</th>
                <th>Details</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.operation }}</td>
                <td>{{ log.value }}</td>
                <td>{{ log.description }}</td>
                <td>{{ log.details }}</td>
                <td>{{ log.date ? log.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-dark btn-sm" href="{{ path('log_show', {'id': log.id}) }}">show</a>
                    <a class="btn btn-dark btn-sm" href="{{ path('log_edit', {'id': log.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
