{% set route_name = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/styles.css" rel="stylesheet" type="text/css"/>
        <script src="/assets/js/Chart.js"></script>
        <script src="/assets/js/chartjs-plugin-datalabels@0.7.0"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">smartbudget</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav me-auto">
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
              <a class="nav-link {% if route_name starts with 'dashboard' or route_name starts with 'index' %} active {% endif %}" href="{{ path('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if route_name starts with "budget" %} active {% endif %}" href="{{ path('budget_index') }}">Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if route_name starts with "log" %} active {% endif %}" href="{{ path('log_index') }}">Logs</a>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            {% if is_granted('ROLE_USER') %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle 
                  {% if route_name starts with "category"  
                      or route_name starts with "item" 
                      or route_name starts with "user" %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Settings
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">            
                  <li class="nav-item">
                    <a class="dropdown-item {% if route_name starts with "category" %} active {% endif %}" href="{{ path('category_index') }}">Categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item {% if route_name starts with "item" %} active {% endif %}" href="{{ path('item_index') }}">Items</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                      <a class="dropdown-item  {% if route_name starts with 'user' %} active {% endif %}" href="{{ path('user_index') }}">Users</a>
                    </li>
                  {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% block body %}{% endblock %}
        </div>
      </div>      
    </div>
    <script src="/assets/js/bootstrap.bundle.js"></script> 
    </body>
</html>
