{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
      <div class="col-sm-8">
        <h1 style="margin-bottom: 80px">Dashboard</h1>
      </div>
      <div class="col-sm-4">
        <div class="app-inline-buttons">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <script>
          function getRandomColor() {
            let chars = '0123456789ABCDEF'.split('');
            let color = '#';
            for (let i = 0; i < 6; i++ ) {
              color += chars[Math.floor(Math.random() * 16)];
            }
            return color;
          }

          function monthName(monthNumber) {
            var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
            return monthNames[monthNumber - 1];
          }
          
        </script>       
        <!-- ############## chart 1 ############## -->
        <canvas id="chart_currentMonthCategoriesPlannedVsReal" style="width:100%;max-width:600px"></canvas>

        <script>
        var xValues = [
        {% for item in currentMonthCategoriesPlannedVsReal['labels'] %}
          "{{ item|e }}",
        {% endfor %}
        ]        

        new Chart("chart_currentMonthCategoriesPlannedVsReal", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [
                {
                    label: "Planned",
                    backgroundColor: getRandomColor(),
                    data: [
                    {% for item in currentMonthCategoriesPlannedVsReal['budget_total'] %}
                      "{{ item|e }}",
                    {% endfor %}
                    ] 
                },
                {
                    label: "Real",
                    backgroundColor: getRandomColor(),
                    data: [
                    {% for item in currentMonthCategoriesPlannedVsReal['log_total'] %}
                      "{{ item|e }}",
                    {% endfor %}
                    ] 
                }
            ]
          },
          options: {
            responsive: true,
            plugins: {
              datalabels: {
                color: '#FFF',
                anchor: 'start',
                align: 'top',
              }
            },
            legend: {
              position: 'bottom',
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                },
                gridLines: {
                  color: "rgba(0, 0, 0, 0)",
                  drawBorder: false,
                },
                display: false
              }],
              xAxes: [{
                gridLines: {
                  color: "rgba(0, 0, 0, 0)",
                  drawBorder: false,
                display: false
                }
              }],
            },
            title: {
              display: true,
              text: "Current month - Categories - planned vs real"
            }
          }
        });
        </script>      
      </div> <!-- end col -->
      <div class="col-sm-6">
        <!-- ############## chart 2 ############## -->
        <canvas id="chart_currentMonthCategoriesCostsPercentage" style="width:100%;max-width:600px"></canvas>

        <script>
        var xValues = [
        {% for item in currentMonthCategoriesCostsPercentage['labels'] %}
          "{{ item|e }}",
        {% endfor %}
        ]        

        var yValues = [
        {% for item in currentMonthCategoriesCostsPercentage['percentages_total'] %}
          "{{ item|e }}",
        {% endfor %}
        ]        

        var barColors = [];
        xValues.forEach(() => barColors.push(getRandomColor()));

        new Chart("chart_currentMonthCategoriesCostsPercentage", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            tooltips: {
              callbacks: {
                label: function(tooltipItem, data) {
                  return data['labels'][tooltipItem['index']] + ': ' + data['datasets'][0]['data'][tooltipItem['index']] + '%';
                }
              }
            },
            plugins: {
              datalabels: {
                color: '#FFF',
                anchor: 'center',
                align: 'center',
                formatter: function(value, context) {
                  return value + '%';
                }                
              }
            },
            legend: {
              position: 'bottom',
            },  
            title: {
              display: true,
              text: "Current month - Categories - costs %"
            }
          }
        });
        </script>      
      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="dashboard-spacer"></div>

    <div class="row">
      <div class="col-sm-12">
        <div id="dashboard-categories">
        <!-- ############## charts 3 ############## -->              
        {% for key in currentMonthItemsPerCategoryPlannedVsReal|keys %}
          <script>
          var {{ key|e }}_items = [     
          {% for value in currentMonthItemsPerCategoryPlannedVsReal[key].items %}
            "{{ value|e }}",
          {% endfor %}
          ]
          </script>

          <script>
          var {{ key|e }}_budget = [     
          {% for value in currentMonthItemsPerCategoryPlannedVsReal[key].budget %}
            {{ value|e }},
          {% endfor %}
          ]
          </script>

          <script>
          var {{ key|e }}_log = [     
          {% for value in currentMonthItemsPerCategoryPlannedVsReal[key].log %}
            {{ value|e }},
          {% endfor %}
          ]
          </script>
        <section>
          <canvas id="currentMonthItemsPerCategoryPlannedVsReal_{{ key|e }}" style="width:100%;max-width:600px"></canvas>

          <script>
          var xValues = [
          {% for item in currentMonthCategoriesPlannedVsReal['labels'] %}
            "{{ item|e }}",
          {% endfor %}
          ];        

          new Chart("currentMonthItemsPerCategoryPlannedVsReal_{{ key|e }}", {
            type: "bar",
            data: {
              labels: {{ key|e }}_items,
              // labels: xValues,
              datasets: [
                  {
                      label: "Planned",
                      backgroundColor: getRandomColor(),
                      data: {{ key|e }}_budget,
                  },
                  {
                      label: "Real",
                      backgroundColor: getRandomColor(),
                      data: {{ key|e }}_log,
                  }
              ]
            },
            options: {
              responsive: true,
              plugins: {
                datalabels: {
                  color: '#FFF',
                  anchor: 'start',
                  align: 'top',
                }
              },
              legend: {
                position: 'bottom',
              },
              scales: {
                yAxes: [{
                  ticks: {
                    min: 0,
                  },
                  gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                    drawBorder: false,
                  },
                  display: false
                }],
                xAxes: [{
                  gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                    drawBorder: false,
                  display: false
                  }
                }],
              },
              title: {
                display: true,
                text: "{{ key|e }} - Current month - Items per category"
              }
            }
          });
          </script>
        </section>
          
        {% endfor %}

        </div> <!-- #dashboard-categories -->
      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="dashboard-spacer"></div>

    <div class="row">
      <div class="col-sm-6">
        <!-- ############## chart 4 ############## -->
        <script>
          let labels = [
            {% for key in currentYearIncomeVsCosts|keys %}
              monthName({{ key }}),
            {% endfor %}
          ];
        </script>

        <script>
          let sum_credit = [
            {% for value in currentYearIncomeVsCosts %}
              {{ value.sum_credit }},
            {% endfor %}
          ];
        </script>

        <script>
          let sum_debit = [
          {% for value in currentYearIncomeVsCosts %}
            {{ value.sum_debit }},
          {% endfor %}
          ];
        </script>

        <canvas id="chart_currentYearIncomeVsCosts" style="width:100%;max-width:600px"></canvas>

        <script>
        new Chart("chart_currentYearIncomeVsCosts", {
          type: "bar",
          data: {
            labels: labels,
            datasets: [
                {
                    label: "Revenues",
                    backgroundColor: getRandomColor(),
                    data: sum_credit,
                },
                {
                    label: "Expenses",
                    backgroundColor: getRandomColor(),
                    data: sum_debit,
                }
            ]
          },
          options: {
            responsive: true,
            plugins: {
              datalabels: {
                color: '#FFF',
                anchor: 'start',
                align: 'top',
              }
            },
            legend: {
              position: 'bottom',
            },
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                },
                gridLines: {
                  color: "rgba(0, 0, 0, 0)",
                  drawBorder: false,
                },
                display: false
              }],
              xAxes: [{
                gridLines: {
                  color: "rgba(0, 0, 0, 0)",
                  drawBorder: false,
                display: false
                }
              }],
            },
            title: {
              display: true,
              text: "Current year - Revenues vs Expenses"
            }
          }
        });
        </script>        
      </div> <!-- end col -->
      <div class="col-sm-6">
        <!-- ############## chart 5 ############## -->
        <canvas id="chart_currentYearCategoriesCosts" style="width:100%;max-width:600px"></canvas>

        <script>
          let month = [
          {% for value in currentYearCategoriesCosts['months'] %}
            monthName({{ value }}),
          {% endfor %}
          ];
          var xValues = month;

          new Chart("chart_currentYearCategoriesCosts", {
            type: "line",
            data: {
              labels: xValues,
              datasets: [

              {% for key, value in currentYearCategoriesCosts['categories'] %}
                {
                  label: "{{ key }}",
                  data: [
                    {% for value2 in value %}
                      {{ value2 }},
                    {% endfor %}
                  ],
                  borderColor: getRandomColor(),
                  fill: false
                }, 
              {% endfor %}
              ]
            },
            options: {
              responsive: true,
              plugins: {
                datalabels: {
                  color: '#FFF',
                  anchor: 'start',
                  align: 'top',
                }
              },
              legend: {
                position: 'bottom',
              },
              scales: {
                yAxes: [{
                  ticks: {
                    min: 0,
                  },
                  gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                    drawBorder: false,
                  },
                  display: false
                }],
                xAxes: [{
                  gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                    drawBorder: false,
                  display: false
                  }
                }],
              },
              title: {
                display: true,
                text: "Current year - Expenses per category"
              }
            }
          });
        </script>      
      </div> <!-- end col -->
    </div> <!-- end row -->



    <div class="row">
      <div class="col-sm-12">
      </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}
