{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-dark" href="{{ path('index') }}">Home</a></li>
        <li class="breadcrumb-item"><a class="link-dark" href="#">Settings</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
      </ol>
    </nav>
    
    <div class="row">
      <div class="col-sm-8">
        <h1>Users</h1>
      </div>
      <div class="col-sm-4">
        <div class="app-inline-buttons">
        <a class="btn btn-dark" href="{{ path('user_new') }}">Create new</a>
        </div>
      </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles[0] == 'ROLE_ADMIN' ? 'admin' : 'user' }}</td>
                <td>
                    <a class="btn btn-dark btn-sm" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-dark btn-sm" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
